package quiz

import (
	"smartquiz/app/views/layouts"
)

templ Index() {
	@layouts.App() {
		<div class="text-center flex flex-col justify-center items-center mt-5 lg:mt-16">
			<div class="flex flex-col gap-12">
				<h1 class="inline-block text-transparent bg-clip-text max-w-2xl mx-auto text-5xl lg:text-7xl font-bold uppercase bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">quiz</h1>
			</div>
		</div>
	}
}

